.font-link {
  font-family: 'VT323', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #F1DBF6;
    width: 100%;
}

.title {
    padding: 5%;
    color: #5E3E3E;
    font-size: 5em;
    text-align: center;
  }

  .task-subtitle {
    padding: 5%;
    color: #5E3E3E;
    font-size: 3em;
    text-align: Left;
  }

.quote-subtitle {
  padding: 5%;
  color: #5E3E3E;
  font-size: 3em;
  text-align: Left;
}

  .quote {
    
    height: 10em;
    width: 13em;
    color: #5E3E3E;
    font-size: 2em;
    text-align: Left;
    
  }