.font-link {
  font-family: 'VT323', cursive;
}

.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    background: #F1DBF6;
    width: 100%;
}
.content-container{
  display: flex;
  flex-direction:row;
  align-items: center;
  height: 100%;
  background: #F1DBF6;
  width: 100%;
}

.inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #F1DBF6;
  width: 100%;
}

.title {
    padding: 3%;
    color: #5E3E3E;
    font-size: 5em;
    text-align: center;
  }

  label {
    cursor: pointer;
    padding: 2%;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span:before {
    width: 12px;
    height: 12px;
    border: 1.5px solid #8DA2F1;
    content: "";
    display: inline-block;
    margin: 0 16px 0 0;
    padding: 0;
    vertical-align: top;
    border-radius: 50%;
  }

  input[type="checkbox"]:checked + span:before {
    background: #8DA2F1;
    border: 1.5px solid #8DA2F1;
    box-shadow: inset 0px 0px 0px 1px #8DA2F1;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
  }
  
  input[type="checkbox"]:focus + span::before {
    outline: 0;
  }

  input[type="text"] {
    background: #F1DBF6;
    border: none;
    font-family: 'VT323', cursive;
    color: #5E3E3E;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: #5E3E3E;
    text-decoration-thickness: 3px;
  }

  .task-subtitle {
    padding: 5%;
    color: #5E3E3E;
    font-size: 3em;
    text-align: Left;
  }

.quote-subtitle {
  padding-bottom: 6%;
  color: #5E3E3E;
  font-size: 3em;
  text-align: Left;
}

  .quote {
    
    height: 10em;
    width: 13em;
    color: #5E3E3E;
    font-size: 2em;
    text-align: Left;
    
  }